/**********************************************************************************************

	Title: CSS for xuedeisgn
	Author: Elmo Wu (by xuedesign studio)
	Date: 2015/03

***********************************************************************************************
		1 通用
		2.基本架構
		   2-1.頁首
		   2-2.頁尾
		   2-3.主體框架
		3.頁面架構
		   3-1.首頁
		   3-2.品牌簡介
		   3-3.商品專區
		   3-4.聯絡我們		
***********************************************************************************************/

/* 1. 通用 
-----------------------------------------------------------------------------------------------
===============================================================================================*/
body{
	background: url(../images/bg_site.png);
	font-family: "微軟正黑體","Microsoft JhengHei","新細明體","PMingLiU", Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:22px;
	color:#505050}
a:link {text-decoration:underline; color:#5e97e3}
a:visited {text-decoration:underline; color:#8c8c8c}
a:hover {text-decoration:none; color:#F50}
form{margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ display:none}

/* 2. 基本架構  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
#wrap{ 
   display:block; 
   position:relative; 
   width:1160px; 
   margin:55px auto; 
   background:#FFF;
   -webkit-box-shadow: 1px 1px 5px #d2d1d1;
   -moz-box-shadow: 1px 1px 5px #d2d1d1;
   box-shadow: 1px 1px 5px #d2d1d1}
h1 a{
   display:block;
   position:absolute;
   top:-55px;
   left:37px;
   z-index:99;
   width:152px;
   height:189px;
   background:url(../images/bg_h1.png) no-repeat;
   text-indent:-9999px}

/*2-1.頁首*/
header{
	display:block;
	width:636px;
	margin:0 auto;
	padding:24px 0 19px 0;
	padding-left:478px;}
nav, #subnav{ display:block; float:left}
nav ul{ width:480px; padding-top:4px}
nav li a{
	display: block;
	float:left;
	width:120px;
	height:27px;
	background:url(../images/btn_nav.png) no-repeat;
	text-indent:-9999px}
.nav-01{ background-position: 0 0}
.nav-01:hover, .nav-01.navin{ background-position: 0 -27px}
.nav-02{ background-position: -120px 0}
.nav-02:hover, .nav-02.navin{background-position: -120px -27px}
.nav-03{ background-position: -240px 0}
.nav-03:hover{ background-position: -240px -27px}
.nav-04{ background-position: -360px 0}
.nav-04:hover, .nav-04.navin{ background-position: -360px -27px}	

#subnav ul{ width:156px}
#subnav li a{
	display:block;
	float:left;
	width:36px;
	height:35px;
	background:url(../images/btn_subnav.png) no-repeat;
	text-indent:-9999px;
	margin-left:16px}
#subnav .subnav-01{ background-position: 0 0}
#subnav .subnav-01:hover{ background-position: 0 -35px}
#subnav .subnav-02{ background-position: -36px 0}
#subnav .subnav-02:hover{background-position: -36px -35px}
#subnav .subnav-03{ background-position: -72px 0}
#subnav .subnav-03:hover{ background-position: -72px -35px}		

/*2-2.頁尾*/
footer{
	display: block;
	height:36px;
	background:#e1e1e1;
	text-align:center;
	padding-top:14px}
footer p{
	font-size:.813em;
	color:#404040;
	text-shadow:1px 1px 0 #E9E8E8}
footer a:link,footer a:visited{ color:#404040; text-decoration:none}		

/*2-3.主體框架*/
#page_banner{ position:relative; height:149px; margin:0 auto}
.section-01{ background:url(../images/pic_pbanner-01.jpg) no-repeat}
.section-02{ background:url(../images/pic_pbanner-02.jpg) no-repeat}
.section-03{ background:url(../images/pic_pbanner-03.jpg) no-repeat}
#page_banner h2{
	display:block;
	position:absolute;
	bottom:0;
	left:21px;
	background: url(../images/bg_ph2.png) no-repeat;
	width:139px;
	height:64px;
	text-indent:-9999px}
#page_banner .ptitle-01{ background-position:0 0}
#page_banner .ptitle-02{ background-position:0 -64px}
#page_banner .ptitle-03{ background-position:0 -128px}
#containter{
	display:block;
	width:1114px;
	margin:0 auto;
	background: url(../images/bg_containter.png) repeat-y}
#submenu, #page_main{ display:block; float:left}	
#submenu{
	width:140px;
	min-height:400px;
	background:url(../images/bg_aside.png) 0 137px no-repeat;
	margin:0 43px 0 21px}
#submenu li a:link, #submenu li a:visited{
	display:block;
	width:110px;
	padding:10px 5px;
	margin:15px 10px;
	font-size:1em;
	line-height:22px;
	color:#FFF;
	letter-spacing:1px;
	border-bottom:1px dashed #FFF;
	text-decoration:none}	
#submenu li a:hover{ font-size:1.063em; color:#f5fe06; text-decoration:none}
#page_main{width:910px; padding:20px 0 30px 0}
#page_main h3{ font-size:1.25em; line-height:28px; color:#5e97e3; padding-bottom:8px}
#page_main p{ font-size:.938em; line-height:25px}		

/*2-4 返回頂端鈕*/
#toTop{
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left top}
#toTopHover{
	background:url(../images/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0)}
#toTop:active, #toTop:focus { outline:none}

/* 3.頁面架構  
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/*3-1.首頁*/
#banner_slider, #page_banner{ display:block; width:1114px}
#banner_slider{height:590px; margin:0 auto 30px auto}	
#box_index{
	display:block;
	width:1074px;
	margin:0 auto}
.box_author, .box_hotsale, .fb-like-box{ display:block; float:left}	
.box_author{
	width:121px;
	min-height:568px;
	margin-right:21px;
	padding:0 9px;
	background:#5e97e3}
.box_author h3{
	display:block;
	width:105px;
	height:42px;
	background:url(../images/title_author.png) no-repeat;
	text-indent:-9999px;
	margin:25px 0}	
.box_author p{
	font-size:.813em;
	line-height:25px;
	color:#FFF}
.box_author a:link{
	display:block;
	width:121px;
	height:57px;
	background:url(../images/btn_author.png) no-repeat;
	text-indent:-9999px;
	margin-top:35px}
.box_author a:hover{ background-position:0 -57px}		
.box_hotsale{
	width:606px;
	margin-right:28px;
	padding-top:20px}
.box_hotsale h3{
	display:block;
	width:606px;
	font-size:1em;
	line-height:32px;
	color:#4082dc;
	background:#f0f0f0;
	letter-spacing:2px;
	text-shadow:1px 1px 0 #f5f5f5}
.box_hotsale h3 span{
	display:block;
	float:left;
	width:11px;
	height:32px;
	background:#5e97e3;
	margin-right:18px}
.box_hotsale ul{ display:block; margin-top:40px}
.box_hotsale li{
	display:block;
	float:left;
	width:180px;
	margin:0 11px}
.box_hotsale img{
	display:block;
	max-width:180px;
	max-height:231px}	
.box_hotsale h4{
	display:block;
	font-size:1em;
	line-height:24px;
	color:#214591;
	text-align:center;
	height:50px;
	overflow:hidden;
	margin-bottom:10px}
.box_hotsale p{
	display:block;
	height:96px;
	overflow:hidden;
	font-size:.875em;
	line-height:24px;
	padding:0 10px;}
.box_hotsale a:link, .box_hotsale a:visited{
	display:block;
	width:120px;
	font-size:.813em;
	line-height:30px;
	color: #FFF;
	text-align:center;
	letter-spacing:1px;
	background: -webkit-gradient(linear, left top, right top, from(#6098e3), to(#3a7ddb));
	background: -webkit-linear-gradient(top, #6098e3, #3a7ddb);
	background: -moz-linear-gradient(top, #6098e3, #3a7ddb);
	background: -o-linear-gradient(top, #6098e3, #3a7ddb);
	background: -ms-linear-gradient(top, #6098e3, #3a7ddb);
	background: linear-gradient(top, #6098e3, #3a7ddb);
	background-color: #6098e3;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-decoration:none;
	margin:15px auto 0 auto}
.box_hotsale a:hover{
	background: -webkit-gradient(linear, left top, right top, from(#3a7ddb), to(#6098e3));
	background: -webkit-linear-gradient(top, #3a7ddb, #6098e3);
	background: -moz-linear-gradient(top, #3a7ddb, #6098e3);
	background: -o-linear-gradient(top, #3a7ddb, #6098e3);
	background: -ms-linear-gradient(top, #3a7ddb, #6098e3);
	background: linear-gradient(top, #3a7ddb, #6098e3);
	background-color: #3a7ddb}						

/*3-2.品牌簡介*/
.bar_tool{ display:block; width:910px}
.bar_cookie, .fb-like{ display:block; float:right}
.bar_cookie{ margin:0 20px 25px 0; padding-top:2px; font-size:.813em; color:#747474}
.bar_cookie span{
	font-weight:bold;
	background:url(../images/pot_boxblue.png) 0 2px no-repeat;
	padding-left:10px;}
.fb-like{ padding-right:7px}
.brand_note{
	display:block;
	position:relative;
	background:url(../images/bg_brand-note.jpg) no-repeat;
	width:910px;
	height:148px;
	margin-bottom:30px}
.brand_note h3, .brand_note p{ display:none}
.brand_note .medal{ 
    display:block;
	position:absolute;
	top:-25px;
	left:-30px;
	width:131px;
	height:89px;
	background:url(../images/pic_medal.png) no-repeat}
.box_muti{ display:block; margin-bottom:30px}
.box_muti p{ padding:0 24px}
.box_film li{
	display:block;
	position:relative;
	float:left;
	width:269px;
	height:124px;
	margin:30px 17px}
.cut-01, .cut-02, .cut-03{ background: url(../images/pic_filmcut.jpg) no-repeat}
.cut-01{ background-position:0 0}
.cut-02{ background-position:0 -124px}
.cut-03{ background-position:0 -248px}
.box_film a{
	display:block;
	position:absolute;
	top:11px;
	left:83px;
	width:102px;
	height:102px;
	background:url(../images/btn_play.png) no-repeat;
	text-indent:-9999px}
.box_film a:hover{ background:url(../images/btn_play.png) 0 -102px no-repeat}
.box_photo, .box_report, .box_components{
	display:block;
	width:900px;
	margin:15px auto}
.box_photo li, .box_report li{
	display: inline-block;
	width:100px;
	margin:0 15px;
	padding:5px}
.box_components li{
	display: inline-block;
	width:154px;
	height:150px;
	margin:0 32px}
.box_components li span{
	display:block;
	width:150px;
	height:120px;
	border:2px solid #5e97e3;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px}
.box_components .cc-01{ background:url(../images/bg_cc-01.jpg)}
.box_components .cc-02{ background:url(../images/bg_cc-02.jpg)}
.box_components .cc-03{ background:url(../images/bg_cc-03.jpg)}
.box_components .cc-04{ background:url(../images/bg_cc-04.jpg)}	
.box_components li p{ text-align:center; padding-top:5px}				
.box_photo li{ height:100px; border:1px solid #EBEBEB}
.box_report li{
	display: inline-block;
	height:90px;
	background:url(../images/bg_report.png) no-repeat}	
.box_report li:hover{ background:url(../images/bg_report.png) 0 -100px no-repeat}
.box_report h5{
	display:block;
	width:70px;
	height:60px;
	margin:0 auto;
	padding-top:40px;
	font-size:.813em; 
	line-height:15px; 
	color:#FFF; 
	text-align:center}		

/*3-3.商品專區*/
#box_shop{
	display:block;
	position: relative;
	width:906px;
	margin:0 auto}
#box_shop h3{
	display:block;
	width:910px;
	height:50px;
	background:url(../images/bg_shoptitle.png) 0 20px no-repeat;
	font-size:1.25em;
	line-height:35px;
	letter-spacing:1px;
	padding-left:55px;
	margin-bottom:30px}
.box_productslist{ padding-bottom:50px}	
.box_productslist li a{
	display:block;
	float:left;
	position:relative;
	width:278px;
	height:215px;
	margin:0 12px 50px 12px;
	overflow:hidden;
	background:url(../images/bg_products.png) no-repeat}
.box_productslist li a:hover{background:url(../images/bg_products.png) 0 -215px no-repeat}
.box_productslist h5{
	display:block;
	position:absolute;
	right:10px;
	bottom:45px;
	z-index:99;
	text-align:right;
	font-size:.938em;
	line-height:22px;
	color:#3a7ddb}
.box_productslist p{
	display:block;
	position:absolute;
	right:10px;
	bottom:10px;
	text-align:right;
	font-size:.938em;
	color:#fe8258}	
.box_productslist img{
	display:block;
	position:absolute;
	top:2px;
	left:15px;
	width:148px;
	height:210px}
.price{
	display:block;
	position:absolute;
	top:10px;
	right:15px;
	font-size:1.125em;
	color:#fe8258;
	font-weight:bold}	
#part_product{ display:block; width:900px; margin:0 auto}
.p_cover{ display:block; float:left; width:300px; padding-left:50px}
.p_cover img{ display:block; width:280px; border:1px solid #E8E8E8; margin-bottom:15px}
.p_info{ display:block; float:right; width:500px; padding:0 25px}
.p_info	h4{ font-size:1.125em; color:#3a7ddb; line-height:35px}
.p_info ul{ padding:0 25px 35px}
.p_info li{
	list-style: disc;
	font-size:0.875em;
	line-height:22px;
	margin-left:15px;
	padding:8px;
	border-bottom:1px dashed #CCC}
.p_info a{ text-decoration:none}	
.box_btn{ display:block; width:300px; padding-left:50px}
.box_btn a{
	display: inline-block;
	width:120px;
	font-size:.873em;
	line-height:35px;
	text-align:center;
	letter-spacing:1px;
	text-decoration:none;
	text-shadow:0 0 5px #999;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	margin:0 10px}
.box_btn .btn_back{
	color:#FFF;
	background: -webkit-gradient(linear, left top, right top, from(#6098e3), to(#3a7ddb));
	background: -webkit-linear-gradient(top, #6098e3, #3a7ddb);
	background: -moz-linear-gradient(top, #6098e3, #3a7ddb);
	background: -o-linear-gradient(top, #6098e3, #3a7ddb);
	background: -ms-linear-gradient(top, #6098e3, #3a7ddb);
	background: linear-gradient(top, #6098e3, #3a7ddb);
	background-color: #6098e3}
.box_btn .btn_back:hover{
	color:#FFF;
	background: -webkit-gradient(linear, left top, right top, from(#3a7ddb), to(#6098e3));
	background: -webkit-linear-gradient(top, #3a7ddb, #6098e3);
	background: -moz-linear-gradient(top, #3a7ddb, #6098e3);
	background: -o-linear-gradient(top, #3a7ddb, #6098e3);
	background: -ms-linear-gradient(top, #3a7ddb, #6098e3);
	background: linear-gradient(top, #3a7ddb, #6098e3);
	background-color: #3a7ddb}		
.box_btn .btn_buy{
	color:#FFF;
	background: -webkit-gradient(linear, left top, right top, from(#FBAC91), to(#fe8258));
    background: -webkit-linear-gradient(top, #FBAC91, #fe8258);
	background: -moz-linear-gradient(top, #FBAC91, #fe8258);
	background: -o-linear-gradient(top, #FBAC91, #fe8258);
	background: -ms-linear-gradient(top, #FBAC91, #fe8258);
	background: linear-gradient(top, #FBAC91, #fe8258);
	background-color: #FBAC91}
.box_btn .btn_buy:hover{
	background: -webkit-gradient(linear, left top, right top, from(#fe8258), to(#FBAC91));
	background: -webkit-linear-gradient(top, #fe8258, #FBAC91);
	background: -moz-linear-gradient(top, #fe8258, #FBAC91);
	background: -o-linear-gradient(top, #fe8258, #FBAC91);
	background: -ms-linear-gradient(top, #fe8258, #FBAC91);
	background: linear-gradient(top, #fe8258, #FBAC91);
	background-color: #fe8258}	

/*3-4.聯絡我們*/	
.box_contact{ 
    display:block; 
	position:relative; 
	width:820px;
	min-height:350px;
	margin:0 auto;
	padding-left:80px}
.box_contact ul{}
.box_contact li{
	font-size:.938em;
	line-height:35px;
	padding:5px 25px;
	margin-right:100px;
	border-bottom:1px dashed #C9C9C9}	
.bg_meadow{
	display:block;
	position:absolute;
	bottom:-30px;
	left:0;
	width:900px;
	height:170px;
	background:url(../images/bg_contact.jpg) no-repeat}	
